.body{

    
    background-repeat: no-repeat, repeat;
     background-color:blue; 
 
}
.container{
    width: 90%;
    
}
.div1{
      
    color: black; 
    text-align: justify; 
    font-size: medium; 
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  
}
.porto-u-sub-heading{
    color: blue;
}
#inner{
    text-align:left;
}
.row-maindiv{
    display: flex;
    padding: 20px; 
    border-radius: 5px;
    color: black; 
    text-align: justify; 
    font-size: medium; 
 
 
    background-color: white;
}
.row-txt{
    width: 50%; 
  
    padding: 10px; 
    margin: 10px;

}
#innerevent{
    text-align: center;
}
#inner1{
    background-color: white;
    border-radius: 10px;
    margin: auto;


}
.row-video{
    width:400px;
    padding: 10px;
   
    border-style: inset;
    border-radius: 10px;
    margin: 10px;
    
     
}
.divvideo{
    background-color: white;
    border-radius: 10px;
    padding-top: 10px;
}
.porto-u-sub-heading{
    font-size:x-large;
    padding-top: 20px;
}
.pgt{
    color: black;
}